# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Build Outputs
dist/
**/dist/
dist-ssr/
*.local

# Python
__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Rust / Anchor
target/
**/target/
.anchor/

# OS / IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo
*.log
